<div class="container mt-3">
  <div class="py-4">
    <h2 class="text-center m-4 card-header">قائمة الأعضاء</h2>
    <div class="card-body table border shadow">
      <p *ngIf="error" class="text-danger"></p>
      <p *ngIf="members.length === 0">لا توجد بيانات لعرضها.</p>
      <table class="table border shadow" >
        <thead>
          <tr>
            <th>معرف العضو</th>
            <th>اسم العضو</th>
            <th>الجنس</th>
            <th>رقم الهاتف</th>
            <th>المهنة</th>
            <th>تاريخ الإضافة</th>
            <th>الإجراء</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a class="btn btn-primary mx-2" >التفاصيل</a>
              <a >تعديل</a>
              <button >حذف</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
