<div class="container">
  <div class="py-4">
    <h2 class="text-center m-4 card-header">قائمة المستخدمين</h2>
    <table class="table border shadow">
      <thead>
        <tr>
          <th scope="col">الرقم</th>
          <th scope="col">الاسم الكامل</th>
          <th scope="col">اسم المستخدم</th>
          <th scope="col">كلمة المرور</th>
          <th scope="col">الحالة</th>
          <th scope="col">تاريخ الاضافة</th>
          <th scope="col">الاجراء</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class="btn btn-primary mx-2" >التفاصيل</a>
            <a class="btn btn-outline-primary mx-2">تعديل</a>
            <button class="btn btn-danger mx-2" >حذف</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
