<div class="container mt-5">
  <div class="row row-one">
    <div class="col-md-3 col-sm-6">
      <div class="counter">
        <div class="counter-icon">
          <i class="fa fa-globe"></i>
        </div>
        <div class="counter-content">
          <h3>عدد المستخدمين</h3>
          <span class="counter-value">0</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="counter blue">
        <div class="counter-icon">
          <i class="fa fa-handshake-o"></i>
        </div>
        <div class="counter-content">
          <h3>عدد الثوابت</h3>
          <span class="counter-value">0</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="counter gray">
        <div class="counter-icon">
          <i class="fa fa-user"></i>
        </div>
        <div class="counter-content">
          <h3>عدد الأعضاء</h3>
          <span class="counter-value">0</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="counter red">
        <div class="counter-icon">
          <i class="fa fa-arrow-up"></i>
        </div>
        <div class="counter-content">
          <h3>عدد الموقفين</h3>
          <span class="counter-value">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 row-two">
    <div class="col-md-3 col-sm-6">
      <div class="counter">
        <div class="counter-icon">
          <i class="fa fa-arrow-down"></i>
        </div>
        <div class="counter-content">
          <h3>عدد اللجان</h3>
          <span class="counter-value">0</span>
        </div>
      </div>
    </div>
  </div>
</div>
